<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="diaryTypes" type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.DiaryType, TT.Diary.Desktop]], TT.Diary.Desktop"/>
		<section name="listTypes" type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.ListType, TT.Diary.Desktop]], TT.Diary.Desktop"/>
	</configSections>
	<diaryTypes>
		<diaryType name="Day" tip="Show daily schedule" imgUrl="Images\Toolbar\day.png" />
		<diaryType name="Week" tip="Show weekly schedule" imgUrl="Images\Toolbar\week.png" />
		<diaryType name="Month" tip="Show monthly schedule" imgUrl="Images\Toolbar\month.png" />
		<diaryType name="Year" tip="Show yearly schedule" imgUrl="Images\Toolbar\year.png" />
	</diaryTypes>
	<listTypes>
		<listType name="ToDo lists" tip="Show ToDo lists" />
		<listType name="Wish lists" tip="Show Wish lists" />
		<listType name="Habits' lists" tip="Show Habits' lists" />
	</listTypes>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="dictionaryTip" value="Show diary to-do lists"/>
	</appSettings>
	<connectionStrings>
		<add name="WebApiUrl" connectionString="https://localhost:5001/api/" />
	</connectionStrings>
</configuration>