<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="scheduleTypes"
                 type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.ScheduleType, TT.Diary.Desktop]], TT.Diary.Desktop" />
        <section name="listTypes"
                 type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.ListType, TT.Diary.Desktop]], TT.Diary.Desktop" />
        <section name="themes"
                 type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.Theme, TT.Diary.Desktop]], TT.Diary.Desktop" />
        <section name="productivities"
                 type="TT.Diary.Desktop.Configs.Section`1[[TT.Diary.Desktop.Configs.Productivity, TT.Diary.Desktop]], TT.Diary.Desktop" />
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <scheduleTypes>
        <scheduleType name="Day" tip="Show daily schedule" imgUrl="pack://application:,,,/Images/Toolbar/day.png" />
        <scheduleType name="Week" tip="Show weekly schedule" imgUrl="pack://application:,,,/Images/Toolbar/week.png" />
        <scheduleType name="Month" tip="Show monthly schedule" imgUrl="pack://application:,,,/Images/Toolbar/month.png" />
        <scheduleType name="Year" tip="Show yearly schedule" imgUrl="pack://application:,,,/Images/Toolbar/year.png" />
    </scheduleTypes>

    <listTypes>
        <listType name="To-do list" tip="Show to-do list" />
        <listType name="Appointments" tip="Show appointments" />
        <listType name="Habits" tip="Show habits" />
        <listType name="Wish list" tip="Show wish list" />
        <listType name="Notes" tip="Show notes" />
    </listTypes>

    <themes>
        <theme name="Tea" tip="Show tea theme" source="./Styles/Themes/Tea.xaml" />
        <theme name="Coffee" tip="Show coffee theme" source="./Styles/Themes/Coffee.xaml" />
    </themes>

    <productivities>
        <productivity name="Excellent" begin="0,9" end="1" />
        <productivity name="Good" begin="0,7" end="0,9" />
        <productivity name="Normal" begin="0,4" end="0,7" />
        <productivity name="Bad" begin="0,3" end="0,4" />
        <productivity name="Horrible" begin="0" end="0,3" />
    </productivities>

    <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logconsole" xsi:type="Debugger" />
        </targets>
        <rules>
            <logger name="*" minlevel="Info" writeTo="logconsole" />
        </rules>
    </nlog>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="WebApiUrl" connectionString="https://localhost:5001/api/" />
    </connectionStrings>

    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider"
                     type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider"
                     type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>